<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hashcode.eztop_up">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.camera2.full" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_2_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:name=".ModifyCarrier"
            android:label="@string/title_activity_modify_carrier"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddCarrier"
            android:label="@string/title_activity_add_carrier"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditCarriers"
            android:label="@string/title_activity_edit_carrier" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>